html,
body {
  margin: 0;
  background-color: #F3F4F6;
}

/* SOLO MOBILE / TOUCH */
@media (pointer: coarse) {
  html,
  body {
    touch-action: manipulation;
    overscroll-behavior-y: none;
  }
}

input,
textarea,
select {
  font-size: 16px;
}
